<iframe width="100%" height="420" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=518+S.+G+St.,+Broken+Bow,+NE+68822&amp;aq=&amp;sll=41.39999,-99.62986&amp;sspn=0.110609,0.222988&amp;ie=UTF8&amp;hq=&amp;hnear=518+S+G+St,+Broken+Bow,+Nebraska+68822&amp;ll=41.399967,-99.636016&amp;spn=0.055305,0.111494&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=518+S.+G+St.,+Broken+Bow,+NE+68822&amp;aq=&amp;sll=41.39999,-99.62986&amp;sspn=0.110609,0.222988&amp;ie=UTF8&amp;hq=&amp;hnear=518+S+G+St,+Broken+Bow,+Nebraska+68822&amp;ll=41.399967,-99.636016&amp;spn=0.055305,0.111494&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  <div class="container hero-unit">
    <div class="row">
      <p class="span4 ac">
        <br />
        <a href="mailto:admin@medpasses.com" class="btn btn-large btn-primary"><b>@ Write us</b></a><br /><br />
        <b>Medpass.es</b><br />518 S. G St. Broken Bow, NE · <a href="http://maps.google.com/maps?q=518+S.+G+St.,+Broken+Bow,+NE+68822&hl=en&ll=41.399926,-99.635954&spn=0.055305,0.111494&sll=41.39999,-99.62986&sspn=0.110609,0.222988&hnear=518+S+G+St,+Broken+Bow,+Nebraska+68822&t=m&z=14">Get Directions</a>
      </p>
      <p class="span4">
        We strive to make great products that use stable, proven technologies to make patients and doctor's lives easier. We love what we do and we love to share it with the world.
      </p>
    </div>
  </div>
  </div>