<div class="hero-unit">
    <div class="container">
      <h1 class="ac">Sign up for Free!</h1><br />
      <p class="ac">
        Then lobby your clinic or doctor's office to enroll and unlock the best features.
      </p>
    </div>
  </div>

  <!-- Example pricing -->
  <div class="row pricing">
    <div class="span3">
      <hr/>
    </div>
    <div class="span5">
      <div class="well">
        <h2>Standard</h2>
        <ul>
          <li>&#10004; Covered by your clinic</li>
          <li>&#10004; Unlimited access</li>
          <li>&#10004; Reminder Notifications</li>
          <li>&#10004; Alerts for any changes</li>
          <li>&#10004; Location based reminders</li>
          <li>&#10004; E-mail and telephone support</li>
        </ul>
        <p>Medpasses is a service offered to clinics for a low monthly fee.  If you are interested in participating please ask your clinic about enrolling. You are welcome to sign up for free but certain features may be disabled if your clinic doesn't participate </p>
        <hr />
        <h3 class="ac">Free for you!</h3><br/>
        <span>Just ask your clinic to participate</span>
        <hr />
        <p class="ac">
          <a class="btn btn-success btn-large" href="/users/sign_up">&#10004; Sign Up</a>
        </p>
      </div>
      <div class="span3">
        <hr/>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="span12">
      <h1 class="lead">
        <b>All plans comes with 90-day</b> money-back guarantee.
      </h1>
    </div>
  </div>

  </div>